/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  color: #fff;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  height: 4rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}

.nav-links button {
  background: #fff;
  border: none;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  margin-left: 5px;
  font-family:Arial, sans-serif;
}

.nav-links button:hover {
  transform: scale(1.05);
  background: #ffe082;
}

.center {
    backdrop-filter: blur(10px);
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.center  h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 600;
}

/* Content container */
.container {
  max-width: 400px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.container h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Button */
button {
  padding: 12px;
  background: #ffca28;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
  margin-top: 10px;
}

button:hover {
  background: #ffb300;
  transform: translateY(-3px);
}

/* Result box */
.result {
  margin-top: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.18);
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}